@import './font.css';

$primaryColor: #ffffff;
$fontColor: #080000;
$fontSize: 16px;

$divBackgroundColor: #ff31ee;

body{
  background: $primaryColor;
}

.countrySelector{
  color: $fontColor;
  font-size: $fontSize;
  font-family: 'BreatheFire', sans-serif;
}

div h3{
  background: $divBackgroundColor;
}
